# Your app credentials (identifies your app to Twitter)
TWITTER_API_KEY=
TWITTER_API_SECRET=

# Your user access credentials (allows tweeting as your user)
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_SECRET=

DATABASE_URL=postgresql://************************?sslmode=require&channel_binding=require